<p>data-binding works!</p>

<table style="width: 100%; border: 5px solid black;">
    <tr>
        <td>
            <!-- {{}} is called interpolation. It is used to display the value of a variable in the template. -->
            <!-- You cannot use interpolation to access variables of other components. -->
            <span>{{ courseName }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <!-- Interpolation can also be used to call a method and display its return value. -->
            <span>{{ displayCourseInfoForUI() }}</span>
        </td>
    </tr>
</table>
