<p>control-flow works!</p>

<div class="row">
    <div class="col-3">
        <select [(ngModel)]="selectedCast" class="form-select">
            <option value="">ABC Cast</option>
            <option value="">DEF Cast</option>
            <option value="">GHI Cast</option>
            <option value="">Other Cast</option>
        </select>
    </div>

    <!-- We want to show this input field, only when "Other Cast" is selected from the above dropdown.
         For this, we can add a condition to render this div -->
    <div class="col-3">
        @if (selectedCast === 'Other Cast') {
            <input type="text" class="form-control" placeholder="Other Cast">
        }
    </div>
</div>
